dist
node_modules
.VSCodeCounter

*.exe
vencord_installer
equicord_installer

.idea
.DS_Store

yarn.lock
bun.lock
package-lock.json

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.tsbuildinfo

# ExtensionCache et settings
ExtensionCache/
settings/

src/equicordplugins/usrpe

# vencord companion module cache
.modules

# Clés API et fichiers sensibles
src/userplugins/chatGpt/index.ts
*.api.key
.env
.env.local
config/api-keys.json

.venv
src/userplugins/noLeakBash
